@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');





/* skills */


@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}